@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: calc(62.5% + 2px + (100vw / 450));
	height: -webkit-fill-available;
}
body {
	-webkit-tap-highlight-color: transparent; 
	height: -webkit-fill-available;
}
[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

@layer base {
	.section {
		@apply container mx-auto px-5 md:px-10 lg:px-20 xl:px-32 2xl:px-44 py-16 md:py-36 transition;
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
	  @apply w-3 h-3
	}
	.scrollbar::-webkit-scrollbar-track {
		@apply rounded-full bg-gray-800
	}
	.scrollbar::-webkit-scrollbar-thumb {
		@apply rounded-full bg-sky-400/80 hover:bg-sky-600 border-4 border-solid border-gray-800
	}
}